.alert{
	animation-name: slideInUp, fadeIn;
	animation-duration: 0.25s, 0.25s;
	position: fixed;
  text-align: center;
  min-width: 320px;
  max-width: 80%;
	padding: 20px 60px;
	border-radius: 3px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.6);
}
.alert.alert-center{
  left: calc(50% - 10%);
  top: calc(50% - 13px);
}
.alert.alert-left{
  left: 40px;
}
.alert.alert-left.alert-center{
  left: 40px;
  right: initial;
}
.alert.alert-right.alert-center{
  left: initial;
  right: 40px;
}
.alert.alert-top{
  top: 40px;
}
.alert.alert-bottom{
  bottom: 40px;
}
.alert.alert-bottom.alert-center{
  top: initial;
}
.alert.alert-right{
  right: 40px;
}
.alert.alert-normal{
	background-color: #FFF;
}
.alert.alert-success{
	background-color: #2ecc71;
}
.alert.alert-error{
	background-color: #e74c3c;
}
.alert.alert-warning{
	background-color: #f1c40f;
}
.alert.closing{
	animation-name: slideOutDown, fadeOut;
}
.alert:hover .alert-control{
  opacity: 1;
}
.alert .alert-control{
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
  opacity: 0;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: calc(50% - 15px);
	padding: 6px;
	border-radius: 50%;
	font-size: 18px;
	background-color: transparent;
	border: 0;
	color: rgba(0,0,0,0.6);
}
.alert .alert-control:hover{
	background-color: rgba(0,0,0,0.1);
}
.alert .alert-control:focus{
	outline: none;
}
.alert .alert-control:active{
	outline: none;
	background-color: rgba(0,0,0,0.3);
}
.alert p{
	font-size: 22px;
	margin: 0;
}
.alert p a{
  color: inherit;
  text-decoration: none;
}
.alert p .material-icons{
  vertical-align: middle;
  margin: 0px 5px;
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}